/*前台样式*/


body { margin:0;font-family:'微软雅黑'; }
img { border:0; }


/**
 ***********************
 * 头样式
 */
#header {
    height:30px;
    background:#e5e5e5;
}
#header_center {
    margin:0 auto;
    padding:6px 0;
    width:1000px;
    font-size:15px;
    color:#666666;
}
#header .left { float:left; }
#header .right { float:right; }
#header a {
    color:#666666;
    text-decoration:none;
}
#header a:hover {
    color:#cc3300;
    text-decoration:underline;
}
/**
 * 头样式
 ***********************
 */


/**
 ***********************
 * 头样式
 */
#foot {
    width:100%;
    background:#5a5a5a;
    position:fixed; bottom:0;
}
#footer {
    margin:10px auto;
    width:1000px;
    text-align:center;
}
#footer a {
    color:#808080;
    text-decoration:none;
}
#footer a:hover {
    color:#ff4466;
    text-decoration:none;
}
/**
 * 头样式
 ***********************
 */


/**
 ***********************
 *
 */
#top {
    margin:0 auto;
    padding:5px 0;
    width:1000px;
}
#logoText {
    margin-left:10px;
    color:#e6e6e6;
    font-size:20px;
    text-decoration:none;
    position:absolute; top:40px;
}
#fabu {
    margin-top:10px;
    position:absolute; left:920px;
    float:right;
}
#fabu a {
    padding:10px 50px;
    background:#ff4466;
    color:#ffffff;
    text-decoration:none;
}
/**
 *
 ***********************
 */


/**
 ***********************
 * 横条菜单样式
 */
#nav { background:#5a5a5a; }
#nav_center {
    margin:0 auto;
    padding:5px 0;
    width:1000px;
}
#nav a {
    padding:5px 20px;
    color:#ffffff;
    text-decoration:none;
}
#nav a:hover,#nav_center a.curr {
    background:#ff4466;
}
/**
 * 横条菜单样式
 ***********************
 */


/**
 ***********************
 * 前台首页内容样式
 */
#contain {
    width:100%;
    height:1000px;
    background:#e6e6e6;
}
#contain_center {
    margin:0 auto;
    width:1030px;
}
#contain_center .box {
    margin:0 10px;
    margin-top:20px;
    width:320px;
    border:1px solid #dcdcdc;
    background:#ffffff;
    float:left;
    position:relative;
}
.box .title {
    margin:10px;
    padding:0 10px;
    border-left:5px solid #ff4466;
    font-weight:bold;
}
.box a {
    color:#4d4d4d;
    text-decoration:none;
    font-size:15px;
}
.box a:hover {
    /*color:#0e90d2;*/
    color:#ff4466;
}
.box .more {
    font-weight:normal;
    float:right;
}
.box .solid { border-bottom:1px solid #dcdcdc; }
.box .dashed {
    padding:5px 0;
    border-bottom:1px dashed #dcdcdc;
}
.box .nav {
    padding:10px; padding-bottom:20px;
}
.box .nav .cate {
    width:75px; height:25px;
    overflow:hidden;
    float:left;
}
.box .cont {
    padding:10px; padding-bottom:50px;
    overflow:hidden;
}
.box .cont .talk {
    width:75px; height:25px;
    overflow:hidden;
    float:left;
}
/*前台showcate页面*/
#contain_center .showcate {
    background:#ffffff;
    overflow:hidden;
}
#contain_center .showcate .bigcate {
    margin-right:2px;
    padding:5px 10px;
    width:100px;
    text-align:center;
    background:#ff4466;
    float:left;
}
#contain_center .showcate .bigcate a {
    color:#ffffff;
    text-decoration:none;
}
#contain_center .showcate ul {
    margin:0;
    padding:0 10px;
    color:#808080;
    clear:both;
}
#contain_center .showcate li {
    padding:10px; padding-bottom:5px;
    list-style-type:none;
    float:left;
}
#contain_center .showcate ul a {
    color:#4d4d4d;
    text-decoration:none;
    font-size:15px;
}
#contain_center .showcate ul a:hover,#contain_center .showcate ul a.curr { color:#ff4466; }
/*前台showlist*/
#contain_center .list {
    margin:15px 0;
    padding:20px;
    background:#ffffff;
}
#contain_center .list p.crumb {
    margin:0; margin-bottom:10px;
    padding-left:5px;
    color:#808080;
    border-left:4px solid pink;
    font-size:12px;
}
#contain_center .list table {
    margin:0;
    width:100%;
    height:60px;
}
#contain_center .list td { padding:0 20px; }
#contain_center .list td.tname {
    padding-bottom:10px;
    font-size:25px;
}
#contain_center .list td.img {
    width:100px; height:50px;
    border:0;
    color:#808080;
    background:#f2f2f2;
    overflow:hidden;
}
#contain_center .list td.xian {
    padding-bottom:10px;
    border-top:1px solid #e5e5e5;
}
#contain_center .list table p { margin:0; }
#contain_center .list table p.tname { font-size:25px; }
#contain_center .list table p.intro { font-size:14px; }
/*话题详情页*/
#homeshow {
    padding:10px;
    background:#ffffff;
}
#homeshow .time {  }
#homeshow .time .small {
    color:#cccccc;
    font-size:14px;
}
#homeshow .title {
    text-align:center;
    font-size:30px;
}
#homeshow .img {  }
#homeshow .con {
    text-indent:2em;
    color:#808080;
}
/**
 ***********************
 * 前台首页内容样式
 */


/**
 * 前台专栏选择样式
 ***********************
 */
#contain_center .topicflow {
    margin-bottom:10px;
    margin-right:10px;
    padding:50px 0;
    width:324px;
    text-align:center;
    font-size:30px;
    color:#808080;
    border:4px solid #ffffff;
    background:#ffffff;
    float:left;
}
#contain_center a:hover .topicflow {
    color:#ff4466;
    border:4px solid #ff4466;
}
#contain_center .topicflow .small {
    font-size:14px;
    color:#808080;
}
#contain_center form {
    padding:20px 50px;
    width:920px;
    color:#808080;
    font-size:20px;
    background:#ffffff;
}
/*表单提交*/
#contain_center a {
    color:#808080;
    text-decoration:none;
}
#contain_center a:hover { color:#ff4466; }
#contain_center form p { margin:0; }
#contain_center p#return {
    padding-bottom:20px;
    cursor:pointer;
}
#contain_center form input,#contain_center form select {
    margin:10px 0;
    padding:10px 20px;
    width:870px;
    border:1px solid lightgrey;
}
#contain_center form textarea {
    margin:10px 0;
    padding:10px 20px;
    width:870px;
    height:200px;
    border:1px solid lightgrey;
    resize:none;
}
#contain_center form #submit {
    color:#ffffff;
    font-size:20px;
    background:#ff4466;
    cursor:pointer;
}
/**
 ***********************
 * 前台专栏选择样式
 */


/**
 * 用户页面样式
 ***********************
 */
#userlist {
    padding:20px;
    background:#ffffff;
}
#userlist table {
    margin:auto;
    width:800px;
    color:#808080;
}
#userlist th {
    padding:10px 0;
    border-bottom:1px dashed #cccccc;
}
#userlist td {
    padding:10px 0;
    text-align:center;
}
#userlist td.return { width:100px; }
#userlist select {
    padding:5px 10px;
    border:1px solid #cccccc;
    color:#808080;
}
/**
 ***********************
 * 用户页面样式
 */


/**
 * 弹出框样式
 ***********************
 */
.popup { display:none; }
.popup .mask {
    width:100%; height:100%;
    background:#000000;
    filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;
    position:fixed; top:0;
}
.popup form {
    padding:20px; width:800px;
    color:#808080;
    background:#ffffff;;
    position:fixed; top:100px; left:20%;
}
.popup form h4 { margin:5px;text-align:center; }
.popup form input,.popup form textarea,.popup form select {
    margin:5px 0;
    padding:10px;
    width:770px;
    border:1px solid #cccccc;
    color:#808080;
}
.popup form textarea {
    height:100px;
    resize:none;
}
.popup form .close {
    padding:10px 20px;
    color:gainsboro;
    background:orangered;
    text-decoration:none;
    position:absolute; top:0; left:840px;
}
.popup form input[type='submit'] {
    color:#ffffff;
    background:#5a5a5a;
    cursor:pointer;
}
.popup form a:hover.close { color:#ffffff; }
/**
 ***********************
 * 弹出框样式
 */