/*前台样式*/


body { margin:0;margin:0;font-family:'微软雅黑'; }


/**
 ***********************
 * 头样式
 */
#header {
    height:30px;
    background:#e5e5e5;
}
#header_center {
    margin:0 auto;
    padding:6px 0;
    width:1000px;
    font-size:15px;
    color:#666666;
}
#header .left { float:left; }
#header .right { float:right; }
#header a {
    color:#666666;
    text-decoration:none;
}
#header a:hover {
    color:#cc3300;
    text-decoration:underline;
}
/**
 * 头样式
 ***********************
 */


/**
 ***********************
 *
 */
#top {
    margin:0 auto;
    padding:5px 0;
    width:1000px;
}
#logoText {
    margin-left:10px;
    color:#e6e6e6;
    font-size:20px;
    position:absolute; top:40px;
}
#fabu {
    margin-top:10px;
    float:right;
}
#fabu a {
    padding:5px 50px;
    background:#ff4466;
    color:#ffffff;
    text-decoration:none;
}
/**
 *
 ***********************
 */


/**
 ***********************
 * 横条菜单样式
 */
#nav { background:#5a5a5a; }
#nav_center {
    margin:0 auto;
    padding:5px 0;
    width:1000px;
}
#nav a {
    padding:5px 20px;
    color:#ffffff;
    text-decoration:none;
}
#nav a:hover,#nav_center a.curr {
    background:#ff4466;
}
/**
 * 横条菜单样式
 ***********************
 */


/**
 ***********************
 * 前台首页内容样式
 */
#contain {
    width:100%;
    height:1000px;
    background:#e6e6e6;
}
#contain_center {
    margin:0 auto;
    width:1030px;
}
#contain_center .box {
    margin:0 10px;
    margin-top:20px;
    width:320px;
    border:1px solid #dcdcdc;
    background:#ffffff;
    float:left;
}
.box .title {
    margin:10px;
    padding:0 10px;
    border-left:5px solid #ff4466;
    font-weight:bold;
}
.box a {
    color:#4d4d4d;
    text-decoration:none;
    font-size:15px;
}
.box a:hover {
    /*color:#0e90d2;*/
    color:#ff4466;
}
.box .more { font-weight:normal;float:right; }
.box .solid { border-bottom:1px solid #dcdcdc; }
.box .dashed {
    padding:5px 0;
    border-bottom:1px dashed #dcdcdc;
}
.box .nav {
    padding:10px; padding-bottom:20px;
}
.box .nav .cate {
    width:75px;
    float:left;
}
.box .cont {
    padding:10px; padding-bottom:50px;
}
.box .cont .talk {
    width:75px;
    float:left;
}